<nz-list [nzLoading]="loading">
  <ng-container *ngFor="let item of list">
    {{ item.date }} / 支出：{{ item.out }} / 收入：{{ item.in }}
    <nz-list-item *ngFor="let record of item.records" [nzContent]="nzContent"
                  [nzActions]="[edit, review, recurrence, del]">
      <ng-template #edit>
        <a disabled *ngIf="!record.transaction"><i nz-icon nzType="edit" theme="outline"></i></a>
        <a (click)="form(record)" *ngIf="record.transaction"><i nz-icon nzType="edit" theme="outline"></i></a>
      </ng-template>
      <ng-template #review>
        <a disabled *ngIf="!record.transaction"><i nz-icon nzType="check-circle" theme="outline"></i></a>
        <a (click)="updateStatus(record, 'review')" *ngIf="record.transaction" nz-tooltip
           [nzTooltipTitle]="record.review === 'reviewed' ? '取消对账' : '已对账'">
          <i nz-icon [nzType]="record.review === 'reviewed' ? 'close-circle' : 'check-circle' " theme="outline"></i>
        </a>
      </ng-template>
      <ng-template #recurrence>
        <a disabled *ngIf="!record.creator" (click)="recurrenceForm(record)" nz-tooltip nzTooltipTitle="添加定时记账">
          <i nz-icon nzType="field-time" theme="outline"></i>
        </a>
        <a *ngIf="record.creator" (click)="recurrenceForm(record)" nz-tooltip nzTooltipTitle="添加定时记账">
          <i nz-icon nzType="field-time" theme="outline"></i>
        </a>
      </ng-template>
      <ng-template #del>
        <a nz-popconfirm nzPopconfirmTitle="确定要删除吗？" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(record)">
          <i nz-icon nzType="delete" theme="outline"></i>
        </a>
      </ng-template>
      <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription" [nzAvatar]="nzAvatar">
        <ng-template #nzTitle class="width-md">
          <a (click)="form(item)" nz-tooltip nzTooltipTitle="修改">{{ record?.category?.name }}</a>
        </ng-template>
        <ng-template #nzDescription>
          <p>
            {{ record.transaction?.description }}
            <span *ngIf="record.transaction?.remark">（{{ record.transaction.remark }}）</span>
          </p>
        </ng-template>
        <ng-template #nzAvatar>
          <i nz-icon nzIconfont="icon-{{ record.category?.icon_name }}" class="icon-md"></i>
        </ng-template>
      </nz-list-item-meta>
      <ng-template #nzContent>
        <div class="width-sm" *ngIf="showLedger && record.ledger">
          <div nz-typography nzType="secondary" class="text-sm">账本：{{ record.ledger.name }}</div>
        </div>
        <div class="width-sm">
          <div>
            <nz-badge [nzColor]="record.account?.color" [nzText]="record.account?.name"></nz-badge>
          </div>
          <span nz-typography nzType="secondary">{{ record.date | _date }}</span>
        </div>
        <div class="width-sm">
          <div *ngFor="let tag of record?.transaction?.tags">
            <nz-tag>{{ tag }}</nz-tag>
          </div>
          <nz-tag nzColor="warning" *ngIf="record.exclude_from_stats" class="text-xs">不统计</nz-tag>
        </div>
        <div class="width-sm">
          <div [ngClass]="record.direction === 'expense' ? 'text-red' : 'text-green'">
            {{ record.direction === 'expense' ? '-' : '' }}
            {{ record.currency_code }}
            {{ record.currency_amount }}
            <i nz-icon *ngIf="record.review === 'reviewed'" nzType="check" theme="outline" class="text-blue"></i>
          </div>
          <span nz-typography class="text-xs" nzType="secondary"
                *ngIf="record.currency_code !== record.ledger?.base_currency_code">
            ~
            {{ record.ledger?.base_currency_code }}
            {{ record.amount }}
          </span>
          <nz-switch
            nzSize="small"
            [nzControl]="true"
            [nzLoading]="statusLoading"
            *ngIf="record.reimbursement_status !== 'none'"
            [ngModel]="record.reimbursement_status === 'todo'"
            nzCheckedChildren="待报销"
            nzUnCheckedChildren="已报销"
            (click)="updateStatus(record, 'reimbursement_status')"
          ></nz-switch>
        </div>
      </ng-template>
    </nz-list-item>
    <!-- <nz-skeleton *ngIf="item.loading" [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true"> </nz-skeleton> -->
  </ng-container>
  <div class="loadmore" nz-list-load-more>
    <button nz-button *ngIf="loadingMore" (click)="onLoadMore()">更多</button>
  </div>
</nz-list>
