<div class="pt-lg">
  <nz-card [nzBordered]="false">
    <div nz-row [nzGutter]="{ xs: 6, sm: 16, md: 24, lg: 32 }">
      <!-- <div nz-col>
        <app-record-create-by-desc (created)="reloadData($event)"></app-record-create-by-desc>
      </div> -->
      <div nz-col>
        <button nz-button (click)="form()" [nzType]="'default'">
          <i nz-icon nzType="plus"></i>
          <span>经典记账</span>
        </button>
      </div>
      <div nz-col class="text-right">
        <nz-button-group>
          <button nz-button (click)="import()">导入</button>
          <button nz-button (click)="download()" nz-tooltip nzTooltipTitle="导出暂不包括「余额调整」类型记录">导出</button>
        </nz-button-group>
      </div>
    </div>
  </nz-card>
</div>

<app-record-search (searched)="reloadData($event)" (reseted)="reloadData($event)" [q]="q"></app-record-search>
<nz-card [nzBordered]="false">
  <app-record-grid [q]="q"></app-record-grid>
</nz-card>
