<div class="pt-lg">
  <nz-card nzHoverable [nzCover]="cover" [nzActions]="[join]">
    <ng-template #cover>
      <img alt="{{ ledger.title }}" src="{{ ledger.cover }}" />
    </ng-template>
    <ng-template #join>
      <a nz-button nzType="link" (click)="submit($event)">加入账本</a>
    </ng-template>
    <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="ledger.remark">
      <ng-template #nzTitle>
        {{ ledger.name }}
      </ng-template>
    </nz-card-meta>
    <div class="card-item-content">
      <span class="text-grey">{{ ledger.updated_at | _date: 'fn' }}</span>
    </div>
  </nz-card>
</div>
