<div class="pt-md">
  <nz-card>
    <div nz-row [nzGutter]="{ xs: 6, sm: 16, md: 24, lg: 32 }">
      <div nz-col>
        <sf mode="search" [schema]="searchSchema" (formSubmit)="submit($event)" (formReset)="reset()"></sf>
      </div>
      <div nz-col>
        <button (click)="form()" nz-button nzType="primary">新建</button>
      </div>
    </div>
  </nz-card>
</div>

<div *ngFor="let data of list">
  <nz-divider [nzText]="data.name" *ngIf="data.items.length" nzOrientation="left"></nz-divider>
  <nz-list [nzDataSource]="data.items" [nzLoading]="loading" [nzRenderItem]="item" [nzGrid]="{ gutter: 24, lg: 8, md: 12, sm: 24, xs: 24 }">
    <ng-template #item let-item>
      <g2-card
        [title]="title"
        [bordered]="true"
        [total]="item.budgetProgress?.surplus_amount | _currency"
        [footer]="footer"
        [avatar]="avatar"
        [action]="action"
      >
        <ng-template #title>
          <strong>
            <a (click)="view()">{{ item.name }}</a>
            <!-- <a routerLink="/budget/view/{{ item.id }}">{{ item.name }}</a> -->
          </strong>
          剩余额度
        </ng-template>
        <ng-template #avatar>
          <nz-progress
            *ngIf="item.budgetProgress.started_at"
            [nzPercent]="item.budgetProgress?.progress"
            nzType="circle"
            [nzStatus]="item.budgetProgress?.progress > 100 ? 'exception' : 'normal'"
            [nzWidth]="50"
          ></nz-progress>
          <nz-progress
            *ngIf="!item.budgetProgress.started_at"
            [nzPercent]="0"
            nzType="circle"
            nzStatus="exception"
            [nzWidth]="50"
          ></nz-progress>
        </ng-template>
        <ng-template #action>
          <span class="pl-sm">
            <i nz-icon nzType="edit" (click)="form(item)"></i>
          </span>
          <span class="pl-sm">
            <i nz-icon nzType="copy" (click)="copy(item)"></i>
          </span>
          <span class="pl-sm">
            <i
              nz-icon
              nzType="delete"
              nz-popconfirm
              nzPopconfirmTitle="确定要删除吗？"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="delete(item)"
            ></i>
          </span>
        </ng-template>
        <div class="d-flex justify-content-between text-truncate">
          <span>已用: {{ item.budgetProgress?.actual_amount }}</span>
          <span class="pl-sm">预算: {{ item.budgetProgress?.budget_amount }}</span>
        </div>
        <ng-template #footer>
          <sv-container size="small" col="2">
            <sv label="进度" col="1">
              <nz-progress
                [nzPercent]="item.budgetProgress?.progress"
                [nzStatus]="item.budgetProgress?.progress > 100 ? 'exception' : 'normal'"
                [nzShowInfo]="false"
              ></nz-progress>
            </sv>
            <sv label="类别" col="1" class="text-truncate">
              {{ item.category_ids_txt }}
            </sv>
            <sv label="时间">
              {{ item.budgetProgress.started_at | _date: 'yyyy-MM-dd' }}～{{ item.budgetProgress.ended_at | _date: 'yyyy-MM-dd' }}
            </sv>
            <sv label="转结">{{ item.rollover ? '是' : '否' }}</sv>
            <sv label="周期">{{ item.period_txt }}</sv>
            <sv label="交易类型">
              <nz-badge [nzColor]="item.transaction_type === 'expense' ? 'green' : 'red'" [nzText]="item.transaction_type_txt"></nz-badge>
            </sv>
            <sv label="包含标签">{{ item.include_tags }}</sv>
            <sv label="排除标签">{{ item.exclude_tags }}</sv>
          </sv-container>
        </ng-template>
      </g2-card>
    </ng-template>
  </nz-list>
</div>
