<div class="pt-md">
  <nz-card [nzTitle]="title" [nzExtra]="extraTemplate" [nzLoading]="loading">
    <ng-template #title>
      <button nz-button routerLink="/account/index"><i nz-icon nzType="arrow-left"></i></button>
      <span class="pl-md">账号详情</span>
    </ng-template>
    <div nz-row *ngIf="account">
      <i nz-icon nzIconfont="icon-{{ account.type }}" class="icon-md pr-md"></i>
      <sv-container size="small" col="2">
        <sv label="名称">{{ account.name }}</sv>
        <sv label="类型">{{ account.type_name }}</sv>
        <sv label="余额">{{ account.currency_code }} {{ account.currency_balance }}</sv>
        <sv label="状态">{{ account.status }}</sv>
        <sv label="备注"></sv>
      </sv-container>
    </div>
  </nz-card>
  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="form(account)">编辑</button>
    <button
      nz-button
      nzDanger
      nz-popconfirm
      nzPopconfirmTitle="确定要删除帐户吗？如果帐户被删除，所有涉及的交易、规则和定时配置将永远失去。"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="delete(account)"
    >
      删除
    </button>
  </ng-template>
</div>

<nz-card style="width: 100%;">
  <nz-card-tab>
    <nz-tabset nzSize="large" [(nzSelectedIndex)]="index">
      <nz-tab nzTitle="余额"> </nz-tab>
      <nz-tab nzTitle="记录"> </nz-tab>
    </nz-tabset>
  </nz-card-tab>

  <div *ngIf="index === 0">
    <p>最近一个月余额变化</p>
    <div starkG2plotArea *ngIf="!accountBalancesTrendLoading" [options]="accountBalancesTrend"></div>
  </div>
  <div *ngIf="index === 1">
    <app-record-grid [q]="q" [showLedger]="true" [resetSubject]="resetSubjectValue"></app-record-grid>
  </div>
</nz-card>
